<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
            <p class="alert alert-success">Well done!
              </p>
            <table class="table table-light">
              <thead class="thead-light">
                <tr>
                  <th>Image</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Image</td>
                  <td>Sonu</td>
                  <td>
                    <button type="button" class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-search"></span> Edit
                    </button> &nbsp;
                    <button type="button" class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-search"></span> Delete
                    </button>
                  </td>
                </tr>
                <tr>
                    <td>Image</td>
                    <td>Rupa</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-search"></span> Edit
                        </button> &nbsp;
                        <button type="button" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-search"></span> Delete
                        </button>
                    </td>
                </tr>
              </tbody>
            </table>
        </div>
  
      </div>
    </div>
    <div class="col-md-3"></div>
</div>

